// Project Colors - Don't add specifc colors, only add those needed on
// the site as whole.

// Texts
$white: #FFFFFF;
$black: #000000;

$primary-color: #006DB8;
$blue-color: #00538C;
$blue-dark-color: #002D4D;

$red: #DC4646;

$grey-dark-color: #303030;
$grey-color: #C4C4C4;

