<div id="newfooter">
	<div id="extra-footer-top" class="hidden-xs">
		<div class="container">
			<div class="pre-footer">
				<div class="col-newletter">
					<p>¿Quieres conocer más novedades?</p>
					<h2>SUSCRÍBETE AL NEWSLETTER</h2>
					<vtex.cmc:newsletterOptIn/>
				</div>
			</div>        
		</div>
	</div>

	<footer id="desktopfooter">
		<div class="container">
			<div class="column row-info">

				<div class="five-colum canal-de-atencion">
					<div class="col-info">
						<h5 class="col-title">Canales de atención</h5>
						<ul class="col-data">							
							<li>
								<strong>Tienda San Joaquín</strong>
								<p>Pedro Mira 409 - San Joaquín<br/>                            
	                            Lunes a Jueves 09:30 a 16:00hs<br/>
	                            Viernes 09:30 a 15:00hs<br/>
								</p>
							</li>

							<li>
								<strong>Tienda las Condes</strong>
								<p>Las Condes 9765, local 212, las Condes<br/>
	                            Lunes a sábado a.m. 10:00 a 14:30hs<br/>
	                            Lunes a sábado p.m. 15:15 a 19:00hs<br/>
	                            <a href="https://wa.me/+56944789576">Whatsapp</a>
								</p>																
							</li>	

							<li>				
								<strong>Cotización y consultas</strong>			
								<a href="tel:+56 9 8818 8818" class="btn-movil">Tel: +56 9 8818 8818</a>
								<a href="mailto:contacto@nibsa.com" class="btn-movil">Mail: contacto@nibsa.com</a>
								<p>Lunes a Jueves 09:30 a 16:00hs<br/>
								   Viernes 9:30 a 15:30hs<br/>
								</p>
							</li>

							<li>
								<strong>Servicio técnico</strong>	
								<a href="mailto:serviciotecnico@nibsa.com" class="btn-movil">serviciotecnico@nibsa.com</a>
							</li>	

						</ul>
					</div>
				</div>

				<div class="five-colum">
					<div class="col-info">					
						<h5 class="col-title">Garantía y soporte</h5>
						<ul class="col-data">	
							<li><a href="/centrotecnico">Fichas técnicas</a></li>
							<li><a href="/videos">Guías de instalación</a></li>
							<li><a href="/garantias">Garantias</a></li>
						</ul>
					</div>
				</div>

				<div class="five-colum">
					<div class="col-info">
						<h5 class="col-title">Corporativo</h5>
						<ul class="col-data">	
							<li><a href="/Institucional/quienes-somos">Quienes somos</a></li>
							<li><a href="/Institucional/quienes-somos">Nuestra Empresa</a></li>
							<li><a href="/Institucional/informacion-financiera/memoria">Memorias</a></li>
							<li><a href="/Institucional/informacion-financiera/estados-financieros">Estados financieros</a></li>
							<li><a href="/Institucional/informacion-financiera/Publicaciones">Publicaciones</a></li>
						</ul>
					</div>
				</div>

				<div class="five-colum">
					<div class="col-info">
						<h5 class="col-title">Calidad y certificación</h5>
						<ul class="col-data">	
							<li><a href="/Institucional/calidad-certificacion/division-calidad">División calidad</a></li>
							<li><a href="/Institucional/calidad-certificacion/certificaciones">Certificación</a></li>
							<li><a href="/Institucional/terminos-y-condiciones">Términos y condiciones</a></li>
						</ul>
						<script id="mcjs">
							! function(c, h, i, m, p) {
								m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
							}(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/06bf1ce81b1e3c5444b050ef8/8c85ac64fdaaaf1b40dbf1a8b.js");
						</script>
					</div>								
				</div>	

				<div class="five-colum">
					<div class="col-info boletas">					
						<h5 class="col-title">Boletas</h5>
						<ul class="col-data">								
							<li><a href="http://boletas.iconstruye.com">Revisa tus boletas</a></li>
						</ul>
					</div>
				</div>

				<div class="five-colum canal-de-denuncias">
					<div class="col-info">
						<h5 class="col-title"><a href="http://denuncias.nibsa.com/denuncia.php">Canal de denuncias</a></h5>						
					</div>	
				</div>	
														
			</div>

		</div><!-- .container -->

		<script type="text/javascript">
			jQuery('#desktopfooter h5.col-title').click(function() {
			    jQuery(this).toggleClass('active');
			    jQuery(this).next('ul.col-data').toggleClass('active');
			});
		</script>
	</footer><!-- .footer -->

	<div id="extra-footer-bottom">
		<div class="container ">
			<div class="copyrights col-lg-6 col-md-6 col-xs-12">
				<p>Copy rights 2021 - Todos los derechos reservados por Nibsa</p>
			</div>    

			<div class="col-lg-6 col-md-6 col-xs-12 cel_nopad">
				<ul class="list-inline pull-right">
					<li><img src="/arquivos/compra-segura-big-blanco.png" alt="compra-segura" title="compra-segura" class="compra-segura" /></li>
					<li><img src="/arquivos/sello-confianza-ecommerce-CCS.png" alt="Sello Confianza Ecommmerce CCS" title="sello-ccs" style="width: 40px;"/></li>
					<li><img src="/arquivos/new-logo-vtex.png" alt="Vtex" title="Vtex" /></li>
					<!--<li><a href="http://www.propulso.cl" target="_blank" title="Propulso"><img src="/arquivos/new-logow-propulso.png" alt="Propulso" /></a></li>-->
					<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/7b58aeaf9b618e199ca320a89/be9e7e14dab8fa425d5b79965.js");</script>
				</ul>
			</div>
		</div>
	</div>
</div>

<a href="https://wa.me/+56944789576" target="_blank" class="btn-flota"><img src="/arquivos/WhatsApp.png" /></a>